.result-str {
    padding: 20px 0 0 0;
}

.main-area {
    background: #ff7d21;
    margin-left: 20px;
    width: 530px;
    height: 585px;
    border-left: solid 1px #333366;
    border-right: solid 1px #333366;
    border-bottom: solid 1px #333366;
}

.main-area .width-div {
    margin-top: 10px;
}

.main-area .width-div h3 {
    padding-top: 20px;
}

.main-area .width-div p {
    padding: 0;
    margin: 0;
}

.main-area .height-div p {
    padding: 0;
    margin: 0;
}

.main-area .input-image {}