#xmlInformation{
    width: 550px;
    height: 473px;
}

.store {
    height: 595px;
    overflow-y: scroll;
    color: black;
}
.store:after {
	clear: both;
	display: block;
	content: " ";
}
.laptops:nth-child(3n+1) {
	clear:left;
}
.laptops {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width:30%;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.laptops:hover {
	/* color:red; */
	cursor: pointer;
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img_product {
	width:90%;
}