.store {
    height: 595px;
    overflow-y: scroll;
    color: black;
}
.laptops:nth-child(3n+1) {
	clear:left;
}
.laptops {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width:30%;
	/* -o-transition:0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s ; */
	transition: 0.5s;
}
.laptops:hover {
	cursor: pointer;
	/* -o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1); */
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img_product {
	width:90%;
}